<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Target settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Protocol
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <tap-config-list
        [items]="protocolConfig"
        [itemRefresh]="true"
        [globalRefresh]="false"
      ></tap-config-list>
    </ion-card-content>
  </ion-card>

  <ion-card
    *ngIf="targetProtocol === TargetProtocol.S3P || targetProtocol === TargetProtocol.SERIAL || targetProtocol === TargetProtocol.MODBUS"
  >
    <ion-card-header>
      <ion-card-title>
        Configuration
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <tap-s3p-configuration-form
          *ngIf="targetProtocol === TargetProtocol.S3P"
          [values]="forms[TargetProtocol.S3P].data.pendingSettings"
          (valueChanges)="onFormChange(TargetProtocol.S3P, $event)"
        ></tap-s3p-configuration-form>

        <tap-serial-configuration-form
          *ngIf="targetProtocol === TargetProtocol.SERIAL"
          [values]="forms[TargetProtocol.SERIAL].data.pendingSettings"
          (valueChanges)="onFormChange(TargetProtocol.SERIAL, $event)"
        ></tap-serial-configuration-form>

        <tap-modbus-configuration-form
          *ngIf="targetProtocol === TargetProtocol.MODBUS"
          [values]="forms[TargetProtocol.MODBUS].data.pendingSettings"
          (valueChanges)="onFormChange(TargetProtocol.MODBUS, $event)"
        ></tap-modbus-configuration-form>

        <app-task-manager
          *ngIf="currentForm"
          [task]="applySerialSettingsTask"
          #taskManagerComponent
        >
          <app-task-manager-action>
            <ion-toolbar>
              <ion-button
                size="small"
                (click)="taskManagerComponent.execTask('refresh')"
                fill="clear"
                slot="start"
              >
                <ion-icon name="refresh"></ion-icon>
                <ion-text class="hidden-sm-down">&nbsp; Refresh</ion-text>
              </ion-button>
              <ion-button
                size="small"
                (click)="currentForm.data.discardChanges()"
                color="danger"
                fill="clear"
                slot="start"
                *ngIf="currentForm.data.hasChanges()"
              >
                <ion-icon name="close"></ion-icon>
                <ion-text class="hidden-sm-down">&nbsp; Cancel</ion-text>
              </ion-button>
              <ion-button
                size="small"
                (click)="taskManagerComponent.execTask('write')"
                button-sm
                slot="end"
                [disabled]="!currentForm.data.hasChanges()"
              >
                <ion-icon name="save"></ion-icon>
                &nbsp; Write &nbsp;
                <ion-text class="hidden-sm-down" style="font-size:0.7em"
                  >permanently</ion-text
                >
              </ion-button>
              <ion-button
                size="small"
                (click)="taskManagerComponent.execTask('set')"
                slot="end"
                [disabled]="!currentForm.data.hasChanges()"
              >
                <ion-icon name="send"></ion-icon>
                &nbsp; Apply &nbsp;
                <ion-text class="hidden-sm-down" style="font-size:0.7em"
                  >until Tap reboot</ion-text
                >
              </ion-button>
            </ion-toolbar>
          </app-task-manager-action>
          <app-task-manager-delayed>
            <ion-toolbar>
              <ion-icon color="warning" name="alert"></ion-icon>
              <ion-text
                color="warning"
                class="ion-text-wrap"
                *ngIf="taskManagerComponent.taskContainer.meta.error"
              >
                {{taskManagerComponent.taskContainer.task.info.title}} is
                delayed. {{ taskManagerComponent.explainDelayReason()}}
              </ion-text>
              <ion-button
                (click)="taskManagerComponent.cancelTask()"
                slot="end"
                color="warning"
                fill="clear"
              >
                <ion-icon name="close"></ion-icon>
                Cancel
              </ion-button>
            </ion-toolbar>
          </app-task-manager-delayed>
          <app-task-manager-running>
            <ion-toolbar>
              <ion-spinner slot="end" name="lines-small"></ion-spinner>
            </ion-toolbar>
          </app-task-manager-running>
        </app-task-manager>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
