<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Not found
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        This page does not exist
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <a [routerLink]="['/']">Home</a>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
